@page "/ftc/teams"
@rendermode InteractiveAuto
@using FIRST.Utilities.Entities
<h3>Teams</h3>

@if (!_teams.Any())
{
    <p>No teams have been loaded for this event.</p>
}
else
{
    <p>Found @_teams.Count() team(s).</p>
    <SfGrid AllowSorting="true" DataSource="_teams">
        <GridColumns>
            <GridColumn 
                Field="@nameof(FtcTeam.TeamNumber)" 
                HeaderText="Team Number"></GridColumn>
            <GridColumn
                Field="@nameof(FtcTeam.ShortName)"
                HeaderText="Team Name"></GridColumn>
        </GridColumns>
    </SfGrid>
}