@page "/ftc/where-is"
@rendermode InteractiveAuto
@using FIRST.Utilities.Models
<h3>Where Is?</h3>

@if (!_teamLocations.Any())
{
    <p>No teams have been loaded for this event.</p>
}
else if (_inPlayoffs)
{
    <p>Playoffs are underway.</p>
}
else
{
    <SfGrid AllowSorting="true" DataSource="_teamLocations">
        <GridColumns>
            <GridColumn Field="@nameof(TeamLocation.TeamNumber)" HeaderText="Team Number"></GridColumn>
            <GridColumn Field="@nameof(TeamLocation.TeamName)" HeaderText="Team Name"></GridColumn>
            <GridColumn Field="@nameof(TeamLocation.LocationType)" HeaderText="Team Location"></GridColumn>
        </GridColumns>
    </SfGrid>
}